{% extends "bases/main_structure.html" %}
{%load static%}

{%block 'head'%}
<link rel="stylesheet" href={%static 'exams/css/request_exams.css'%}>
{%endblock 'head'%}

{%block 'content'%}
    <div class="content__exams">

        <div class="content__select-exam">
            <h1>Request exams</h1>
            {% comment %} <form action="{%url 'request_exams'%}" method="post">{% csrf_token%}
                <div class="content__select" >
                    <h4>Select exams to perform</h4>
                    <div class="content__select-card">
                        <select class="content__select-form-exams" name="exams_selected">
                            <option class="content__select-options" selected>Open this select menu</option>
                            {%for exam in exams_type%}
                                <option class="content__select-options" value="">LOL1</option>
                            {%endfor%}
                          </select>
                          <input type="submit" class="content__select_input-submit" value="Select values"> {% endcomment %}
                        {% comment %} <ul class="dropdown-menu">
                            {% for exam in exams_type%}
                                <li></option></li>
                            {%endfor%}
                        </ul> {% endcomment %}
                        {% comment %} <textarea onclick="getAllSelectedValues()" class="btn-group__textarea"id="" name="" rows="7" cols="50">
                        </textarea>
                    </div>
                    <button class="btn btn-primary" type="submit">Calculate exams value</button>
                </div>
            </form> {% endcomment %}
            <form action="{%url 'request_exams'%}" method="POST" > {%csrf_token%}
            <div class="container-main">
                <div id="custom-select-container" class="custom-select">
                    <div class="select-box" onclick="toggleOptions()">
                        <span>Select Options</span>
                        <span>&#9660;</span>
                    </div>
                    <div class="options-container" id="options-container">
                        {%for exam in exams_type%}
                        <div class="option">
                            <input type="checkbox" class="checkbox" id="{{exam.exam_name}}" value="{{exam.exam_name}}" name="exams_selected" multiple> {{exam.exam_name}}
                        </div>
                        {%endfor%}
                    </div>
                </div>
                <span class="button-span"onclick="getAllSelectedValues()">Get all values selected</span>
            </div>
            <textarea class="btn-group__textarea" id="output" rows="7" readonly></textarea>
            <button class="btn btn-primary" type="submit">Calculate exams value</button>
        </div>
        <div class="content__select-resum">
            <div class="content__select-exam-prices">
                <h3>Exam</h3>
                <h3>R$ 70</h3>
            </div>
            <div class="content__selected-results">
                <h3>Total</h3>
                <h3>Date: </h3>
            </div>
            <button class="btn btn-primary" type="submit">Order</button>
        </div>
    </div>
    </form>
    <script src={%static 'exams/js/scripts.js'%}></script>
{%endblock%}