{% extends "bases/main_structure.html" %}
{%load static%}

{%block 'head'%}
<link rel="stylesheet" href={%static 'exams/css/request_exams.css'%}>
{%endblock 'head'%}

{%block 'content'%}
    <div class="content__exams">

        <div class="content__select-exam">
            <h1>Request exams</h1>
            <form action="{%url 'request_exams'%}" method="POST" > {%csrf_token%}
            <div class="container-main">
                <div id="custom-select-container" class="custom-select">
                    <div class="select-box" onclick="toggleOptions()">
                        <span>Select Options</span>
                        <span>&#9660;</span>
                    </div>
                    <div class="options-container" id="options-container">
                        {%for exam in exams_type%}
                        <div class="option">
                            <input type="checkbox" class="checkbox" value="{{exam.id}}" id="checkbox_checked" name="exams_selected" multiple> {{exam.exam_name}}
                        </div>
                        {%endfor%}
                    </div>
                </div>
                <span class="button-span"onclick="getAllSelectedValues()">Get all values selected</span>
            </div>
            <textarea class="btn-group__textarea" id="output" rows="7" readonly></textarea>
            <button class="btn btn-primary" type="submit">Calculate exams value</button>
        </div>
        <div class="content__select-resum">
            <div class="content__select-exam-prices">
                {%for exam in exams_type%}
                <div class="content__selected-exam-information">
                    <h3>{{exam.exam_name}}</h3> <h3>{{exam.exam_price}}</h3>
                </div>
                {%endfor%}
            </div>
            <div class="content__selected-results">
                <div class="content__select_price">
                    <h3>Total: </h3> <h3>{{total_amount}}</h3>
                    <h3>Date: </h3>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Order</button>
        </div>
    </div>
    </form>
    <script src={%static 'exams/js/scripts.js'%}></script>
{%endblock%}