{%extends 'bases/main_structure.html' %}

{%load static%}

{%block 'head'%}
    <link rel="stylesheet" href="{%static 'users/css/users-styles.css'%}">
{%endblock%}

{%block 'content'%}

    <div class="container">
        <h3 class="emphasis-font-secondary"><img width='10%' src="{%static 'general/assets/'%}" alt=""></h3>

        {%if messages%}
            {%for messages in messages%}
                <div class="alert {{messages.tags}}"> {{message}}</div>
            {%endfor%}
        {%endif%}

        <div>
            <form action="{%url 'login'%}" method="POST">
                {% csrf_token %}
                <label for="">Username</label>
                <input type="text" name="username" class="input-default" >

                <label for="">Password</label>
                <input type="text" name="password" class="input-default">

                <input type="submit" class="button-default" value="Log">

            </form>
        </div>
    </div>
{%endblock%}
