{%extends 'bases/main_structure.html' %}
{%load static%}

{%block 'head'%}
<link rel="stylesheet" href="{%static 'users/css/users-style.css'%}">
{%endblock 'head'%}

{%block 'content'%}
<div class="container-fluid">
    {%if messages %}
        {% for message in messages%}
            <div class="alert {{message.tags}}">{{message}}</div>
        {%endfor%}
    {%endif%}
    <h2 class="emphasis-font">Register</h2>
    <div class="row">
        <div class="col-md-3 sidebar">
            <div class="logo_sidebar">
                <h2 class="logo">
                    <img class="img_logo_sidebar" src="">
                </h2>
            </div>
        </div>
        <div class="col-md-9">
            <div class="area_cadastrar">
                
                <h2 class="titulo">Welcome!</h2>
                <p class="sub-titulo">Registry your account</p>
                <hr>
                <form action="{% url 'registry' %}" method="POST"> {% csrf_token %}
                    <span class="bold">First name</span>
                    <input class="form-control input-form" name="f-name" type="text" placeholder="Your first name..." required>
                    <br>
                    <span class="bold">Last name</span>
                    <input class="form-control input-form" name="l-name" type="text" placeholder="Your last name..."> 
                    <br>
                    <span class="bold">Username</span>
                    <input class="form-control input-form" name="username" type="text" placeholder="Your nickname..." required>
                    <br>
                    <span class="bold">E-mail</span>
                    <input class="form-control input-form" name="email" type="text" placeholder="Your email E-mail...">
                    <br>
                    <div class="row">
                        <div class="col-md">
                            <span class="bold">Password</span>
                            <input class="form-control input-form" name="password" type="password" placeholder="Your password... " required>
                        </div>

                        <div class="col-md">
                            <span class="bold">Confirm your password</span>
                            <input class="form-control input-form" name="c-password" type="password" placeholder="Confirm your password..." required>
                        </div>
                    </div>
                    <br>
                    <button class="button-default">Registry</button>
                </form>
                <h3 style="position: absolute; bottom: 5l5px; font-weight: bold">Already have an account?&nbsp <a href="" class="button button-outline-success button-lg">Login</a> </h3>
            </div>
        </div>
    </div>
</div>

{%endblock%}