:root{
    --main-color: #080f1a;
    --secondary-color: #4297be;
    --middle-color: #098ab5;
    --secondary-contrast-color: #07d2ff;
    --main-contrast-color: #0ffff8;
    --dark-mode-color: #0C121C;
    --light-color: #6DE6EE;
    --contrast-color: #f4c96b;
    --only-unique-color: #27fca3;
    --white-color: #fff;
    --input-color-default: #281D1F;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--white-color);
}

.emphasis-font{
    color: var(--light-color);
    font-size: 2.5em;
}

.input-default{
    background-color: var(--input-color-default);
    border: 1px solid var(--only-unique-color);
    padding: 0.5em;
    width: 50%;
}

.default-width{
    width: 100%;
}

.button-default{
    background-color: var(--light-color);
    color: var(--input-color-default);
    width: 15%;
    padding: 0.625em;
    border: none;
    border-radius: 10px;
}

.emphasis-font-secondary{
    color: var(--light-color);
    font-size: 2.25em;
}